@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

//////////////////////////////////////
/////////////Rest Css/////////////////
//////////////////////////////////////
html {
    font-size: 62.5%;
}

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'poppins',sans-serif;
}


//////////////////////////////////////
//////////////Colors//////////////////
//////////////////////////////////////
:root{
    --crafts-component-theme-color:#EE3030;
    --crafts-component-secondary-theme-color:#0c2b4c;
    --crafts-component-sidebar-verticle-Spacing:4rem;
    --crafts-component-sidebar-horizontal-spacing:2rem;
    --crafts-component-secondary-color-light: #949BA8;
    --crafts-component-secondary-color:#0C1B38;
    --crafts-component-borderColor:#BBBCBD;
    --crafts-component-green-color:#4DC16D;
    --crafts-component-highlight-color:#ACCBFF;
}


//////////////////////////////////////
/////////////Font Sizes///////////////
//////////////////////////////////////

:root{
    --crafts-component-font-size-heading:2rem;
    --crafts-component-font-size-paragraph:1.4rem;
    --crafts-component-font-size-sub-heading:1.6rem;
    --crafts-component-font-size-300:1.6rem;
}

@media screen and (min-width:1034px) {
    :root{
        --crafts-component-font-size-heading:2.5rem;
        --crafts-component-font-size-paragraph:1.7rem;
        --crafts-component-font-size-sub-heading:1.9rem;
        --crafts-component-font-size-300:1.7rem;
    }
}

.block-config h1{
    font-size: var(--crafts-component-font-size-heading) !important;
    font-weight: 500 !important;
    margin: 0;
}
.block-config h2{
    font-size: var(--crafts-component-font-size-sub-heading) !important;
    font-weight: 400 !important;
    margin: 0;
}
.block-config h3{
    font-size: var(--crafts-component-font-size-300) !important;
    margin: 0 !important;
}
.block-config p{
    font-size: var(--crafts-component-font-size-paragraph) !important;
    color: rgb(64, 64, 64) !important;
    margin: 0;
}



//////////////////////////////////////
///////////Other Styles///////////////
//////////////////////////////////////

:root{
    --crafts-component-border-radius-main: 2rem;
    --crafts-component-border-radius-inner: 1rem;
}

